@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  Tailwind's preflight stylesheet adds this:

    border-style: solid;

  Ionic adds this:

    border: 0;

  Tailwind's border classes assume that adding a border width is all that is
  necessary to add a border. We're adding `html` to the selector to increase
  specificity.
  */
  html * {
    border-style: solid;
  }

  /*
  Tailwind's preflight stylesheet adds this:

    line-height: inherit;

  Ionic adds this:

    line-height: 1.2;

  */
  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
  }

  button, input {
    /* TODO: this opacity transition doesn't seem to apply to Ionic buttons */
    @apply disabled:opacity-60 transition-opacity focus-visible:outline
      focus-visible:outline-amber-500;
  }

  ion-alert.ios {
    --backdrop-opacity: 0.5;
  }

  ion-alert.ios .alert-wrapper {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2);
    @apply dark:bg-neutral-800 bg-white;
  }

  ion-alert.ios .alert-button.ion-activated {
    @apply dark:bg-neutral-700 bg-neutral-100;
  }
}

@layer components {
  .link {
    @apply text-blue-500 hover:underline focus-visible:outline
      focus-visible:outline-amber-500;
  }

  .card {
    @apply bg-neutral-800 rounded-lg border border-neutral-600;
  }

  .form-card {
    @apply max-w-md m-4 p-4 card;
  }

  .form-label {
    @apply text-sm mb-1;
  }

  .form-input {
    @apply max-w-full p-2 rounded-lg bg-neutral-700
      focus-visible:outline-amber-500;
  }

  .form-submit {
    @apply py-2 rounded-lg font-bold text-white bg-blue-700 border
      border-blue-500 focus-visible:outline-amber-500 active:bg-blue-600;
  }

  .form-error {
    @apply text-center text-red-500;
  }

  .button-flex {
    @apply flex-center gap-1;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
