@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply dark:bg-neutral-900;
  @apply dark:text-white;
}

button, a {
  user-select: none;
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#app > header {
  flex-shrink: 0;
}

#app > main {
  flex-grow: 1;
  overflow: hidden scroll;
}

@layer utilities {
  .button-primary, .button-danger {
    @apply mx-3 my-2 py-2 rounded-lg font-bold dark:bg-neutral-800 border
      dark:border-neutral-600;
  }

  .button-primary {
    @apply dark:text-blue-500;
  }

  .button-danger {
    @apply dark:text-red-500;
  }

  .button-flex {
    @apply flex items-center justify-center gap-1;
  }
}
