@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply dark:bg-neutral-900;
  @apply dark:text-white;
}

button, a {
  user-select: none;
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

#app > header {
  flex-shrink: 0;
}

#app > main {
  flex-grow: 1;
  overflow: hidden scroll;
}

button, input {
  @apply transition-opacity;
}

button:disabled, input:disabled {
  @apply opacity-60;
}

@layer components {
  .link {
    @apply text-blue-500 hover:underline
      dark:focus-visible:outline-amber-500;
  }

  .card {
    @apply dark:bg-neutral-800 rounded-lg border dark:border-neutral-700;
  }

  .form-card {
    @apply max-w-md m-4 p-4 card;
  }

  .form-label {
    @apply text-sm mb-1;
  }

  .form-input {
    @apply max-w-full p-2 rounded-lg dark:bg-neutral-700
      dark:focus-visible:outline-amber-500;
  }

  .form-submit {
    @apply py-2 rounded-lg font-bold dark:bg-blue-700 border
      dark:border-blue-500 dark:focus-visible:outline-amber-500
  }

  .form-error {
    @apply text-center text-red-500;
  }

  .button-primary, .button-danger {
    @apply mx-3 my-2 py-2 rounded-lg font-bold dark:bg-neutral-800 border
      dark:border-neutral-600;
  }

  .button-primary {
    @apply dark:text-blue-500;
  }

  .button-danger {
    @apply dark:text-red-500;
  }

  .button-flex {
    @apply flex-center gap-1;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
